 {# Twig Template for render Array Data from Controller with this View #}
 <table class="table table-bordered table-striped">
	<tr>
		<th>ID</th>
		<th>Vorname</th>
		<th>Nachname</th>
		<th>Email</th>
		<th>Aktualisieren</th>
		<th>Löschen</th>
	</tr>
	{% if records | length > 0 %}
		{% for key, item in records %}
			<tr>
				<td>{{ item.id | escape }}</td>
				<td>{{ item.first_name | escape }}</td>
				<td>{{ item.last_name | escape }}</td>
				<td>{{ item.email | escape }}</td>
				<td>
					<button onclick="crud.call('readRecord',{id: '{{ item.id | escape }}', ref2: '', model: '', remove: true, method: 'post', reload: '', conf: '', render: 'append'})" class="btn btn-warning">Aktualisieren</button>
				</td>
				<td>
					<button onclick="crud.call('deleteRecord',{id: '{{ item.id | escape }}', ref2: 'deleteRecord', model: '', remove: true, method: 'post', reload: 'readRecords',conf: 'Sind Sie sicher, daß Sie den Eintrag löschen wollen?', render: 'prepend'})" class="btn btn-danger">Löschen</button>
				</td>
			</tr>
		{% endfor %}
	{% else %}
		<tr>
			<td colspan="6">Keine Datensätze gefunden!</td>
		</tr>
	{% endif %}
</table>